$bestuurskleur: #000078;

.ui.menu {
  background-color: $bestuurskleur;
  .item {
    color: white;
  }
  a.simple.dropdown:hover {
    background-color: white;
    color: $bestuurskleur;
  }
}

a {
  color: $bestuurskleur;
}